



@keyframes spin {
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg)
    }
}

.botao{
    height: 40px;
    width: 350px;
    background-color: #000D45;
    border-radius: 0.25rem;
    border-style: none;
    padding: 8px;
}
.loading-spin{
    width: 24px;
    height: 24px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-bottom-color: transparent;
    margin-left: 160px;
    animation: spin 1s linear infinite; 
}
